 label, input {
                display: inline-block;
                vertical-align: baseline;
                width: 250px;
            }

            label {
                color: #2D2D2D;
                font-size: 15px;
            }

            form, input {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

            form {
                width: 500px;
            }
            
            #inner {
                width: 50%;
                margin: 0 auto; 
            }